{% extends "base.html" %}
{% block page_title %}キー判別{% endblock %}

{% block content %}
    <h2 class="pb-2 mt-4 mb-2 border-bottom">キー判別AI</h2>
    <h4>URLを入力してください</h4><br>
    <p>
        <a href="https://www.ufret.jp/" target="_blank">Ufret</a>に掲載されている楽曲のURLを記載してください。<br>
    例：<a href="https://www.ufret.jp/song.php?data=192" target="_blank">https://www.ufret.jp/song.php?data=192</a>
    </p>
    <form method="POST" enctype="multipart/form-data">
        <p>
            <label>URL：</label>
            <input type="text" maxlength=60 class="form-control" name="url">
        </p>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-danger">キーを調べる</button>
        </div>
    </form>
{% endblock %}