{% extends "base.html" %}
{% block page_title %}Link{% endblock %}
{% block content %}

<h1 class="pb-2 mt-4 mb-2 border-bottom">Link</h1>
    <br>
<li>
GitHubにてコードを公開しております。<br>
<a href="https://github.com/hatena-hanata/KJA_app" target="_blank">https://github.com/hatena-hanata/KJA_app</a>
</li><br>
    <li>
    Qiitaにて開発手順を公開しております。<br>
    <a href="https://qiita.com/hanata/items/48e84fb051f4b7e04ac1" target="_blank">https://qiita.com/hanata/items/48e84fb051f4b7e04ac1</a>
    </li><br>
    <li>
    開発者のポートフォリオサイト<br>
    <a href="https://hatena-hanata.github.io/hatena-hanata-portfolio/" target="_blank">https://hatena-hanata.github.io/hatena-hanata-portfolio/</a>
    </li>
{% endblock %}